<div id="header" style="float:left;">
  <h1><a href="/">ツイキラーα</a></h1>
  <h2>あなたがフォローしている日本語のtwitterスパムアカウントを教えます</h2>
</div>
<div style="float:right;">
	<a href="http://b.hatena.ne.jp/entry/http://twikilla.jp/" rel="nofollow"><img border="0" src="http://b.hatena.ne.jp/entry/image/http://twikilla.jp/" /></a>
	<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://twikilla.jp/" data-count="horizontal" data-lang="ja">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<div style="clear:both" class="clearfox"></div>