    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="chHYWVKp6opvqPHuMCglQMWewHy-9nET03gY95XmRuw" />
    <meta name="y_key" content="47b0a545717111e1" />
    <meta name="msvalidate.01" content="898EA1FDB7B6F66E2A5947128EC82090" />
	  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <%= stylesheet_link_tag "style.css" %>
    <% if defined?(description) %>
      <meta name="description" content="<%= description %>" />
    <% end %>
    <% if defined?(keywords) %>
      <meta name="keywords" content="<%= keywords %>" />
    <% end %>
    <title><%= title %></title>
