<div class="right">
    <h2>他趣味で作ったサービス</h2>
    <ul>
        <li>
            オリジナルのクレジットカードが作れる！<a href="http://ccmaker.org/">クレジットカード・メーカー</a>
            <a href="http://b.hatena.ne.jp/entry/http://ccmaker.org/" rel="nofollow">
              <img border="0" src="http://b.hatena.ne.jp/entry/image/http://ccmaker.org/" />
            </a>
        </li>
        <li>
            日本の地域情報を収集してヒートマップを作る！<a href="http://tiikitter.jp/">ちいきったー</a>
            <a href="http://b.hatena.ne.jp/entry/http://tiikitter.jp/" rel="nofollow">
              <img border="0" src="http://b.hatena.ne.jp/entry/image/http://tiikitter.jp/" />
            </a>
        </li>
        <li>
            日本語形態素解析を眺める！<a href="http://mecabru.jp/">和布蕪る(めかぶる)</a>
            <a href="http://b.hatena.ne.jp/entry/http://mecabru.jp/" rel="nofollow">
              <img border="0" src="http://b.hatena.ne.jp/entry/image/http://mecabru.jp/" />
            </a>
        </li>
        <li>
            日本語でニューヨークタイムズを検索！<a href="http://www.nytt-jp.com/">nytt-jp(10ヶ国語対応)</a>
            <a href="http://b.hatena.ne.jp/entry/http://www.nytt-jp.com/" rel="nofollow">
              <img border="0" src="http://b.hatena.ne.jp/entry/image/http://www.nytt-jp.com/" />
            </a>
        </li>
        <li>
            日本語フォントを見て比べて表示する！<a href="http://fonthack.jp/">fonthack.jp</a>
            <a href="http://b.hatena.ne.jp/entry/http://fonthack.jp/" rel="nofollow">
              <img border="0" src="http://b.hatena.ne.jp/entry/image/http://fonthack.jp/" />
            </a>
        </li>
    </ul>
		
		<script type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script type="text/javascript">
		new TWTR.Widget({
		  version: 2,
		  type: 'search',
		  search: 'twikilla',
		  interval: 6000,
		  title: 'ツイッキラーを使ってくれている方々。感謝！',
		  subject: 'ついっきらー',
		  width: 250,
		  height: 360,
		  theme: {
		    shell: {
		      background: '#035be0',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#ffffff',
		      color: '#444444',
		      links: '#1985b5'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: true,
		    live: true,
		    hashtags: true,
		    timestamp: true,
		    avatars: true,
		    toptweets: true,
		    behavior: 'default'
		  }
		}).render().start();
		</script>		

    <!--
    <h2>Archives</h2>
    <ul>
    <li><a href="#">January 2007</a></li>
    <li><a href="#">February 2007</a></li>
    <li><a href="#">March 2007</a></li>
    <li><a href="#">April 2007</a></li>
    <li><a href="#">May 2007</a></li>
    <li><a href="#">June 2007</a></li>
    <li><a href="#">July 2007</a></li>
    <li><a href="#">August 2007</a></li>
    <li><a href="#">September 2007</a></li>
    <li><a href="#">October 2007</a></li>
    <li><a href="#">November 2007</a></li>
    <li><a href="#">December 2007</a></li>
    </ul>
    -->
</div>
<div style="clear: both;">
</div>
